body {
  font-family: Arial;
  background: #f8f8f8;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.card {
  background: white;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

button {
  padding: 6px 10px;
  margin: 3px;
  cursor: pointer;
}

.cart {
  background: #222;
  color: white;
  padding: 10px;
  border-radius: 8px;
}
